<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= album.genre_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= album.url %>
  </p>

  <p>
    <strong>Albumart:</strong>
    <%= album.albumart %>
  </p>

</div>
